@model Web_API_MVC.Models.PerifericoViewModel
@{
    ViewBag.Title = "Detalhes do Periferico";
}
<h2>Detalhes do Periferico</h2>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>@Html.DisplayNameFor(model => model.Nome) </dt>
        <dd>@Html.DisplayFor(model => model.Nome)</dd>
        <dt>@Html.DisplayNameFor(model => model.Descricao) </dt>
        <dd>@Html.DisplayFor(model => model.Descricao)</dd>
        <dt>@Html.DisplayNameFor(model => model.TipoPeriferico) </dt>
        <dd>@Html.DisplayFor(model => model.TipoPeriferico)</dd>
    </dl>
</div>
<p>
</p>
@Html.ActionLink("Editar", "Edit", new { id = Model.Id }) | @Html.ActionLink("Retornar", "Index")